<h2> <%= reservierung.name %></h2><br>
<h2> <%= reservierung.email %></h2><br>
<h2> <%= reservierung.tel %></h2><br>
<h2> <%= reservierung.slot %></h2><br>
<a href="/reservierungen/<%=reservierung.id%>/edit">Bearbeiten</a>
